<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Our team name is: <%= @name %></h1>
   <h2>Our Coach is <%= @coach %></h2>
   <p> Our other teammates include:
   <%= @pg %>
   <%= @sg %>
   <%= @pf %>
   <%= @sf %>
   <%= @c%>
 </p>
 </body>
</html>
